*{
  user-select: none;
}
.measureWrapper {
  position: relative;

  display: flex;

  width: 100%;
  height: 160px;

  border: 1px solid #333;
  box-sizing: border-box;

  margin-bottom: 1%;
  background-color: white;
}

.measureColumn {
  flex: 1;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.measureColumn > div {
  flex:1;
  box-sizing: border-box;
  position: relative;
}

.measureColumn > div::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  border-top: .5px solid black;
}

.measureColumn > div:last-child {
  border-bottom: none;
}